<?xml version="1.0"?>
<robot name="robot">
  <material name="purple">
    <color rgba="0.4 0.2 0.3 1"/>
  </material>
  <link name="turtle">
    <visual>
      <geometry>
        <cylinder length="0.2" radius="0.17"/>
      </geometry>
      <origin rpy="0 0 0" xyz="-0.085 -0.085 -0.1"/>
      <material name="purple"/>
    </visual>
  </link>
</robot>